.login1{
    width: 65%;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 20vh;
  }
  
  #log input[type=text] {
    width: 100%;
      padding: 12px;
      border: none;
      background-color: rgba(95, 137, 199, 0.3);
      border-radius: 10px;
      box-sizing: border-box;
      margin-top: 1vh;
      margin-bottom: 2vh;
      resize: none;
  }
  
  #log input[type=password] {
    width: 100%;
      padding: 12px;
      border: none;
      background-color: rgba(95, 137, 199, 0.3);
      border-radius: 10px;
      box-sizing: border-box;
      margin-top: 1vh;
      margin-bottom: 2vh;
      resize: none;
  }
  
  .buttonlog1{
    background-color:rgba(113, 223, 110, 0.4);
    margin-top: 1.3vh;
    border: none;
    border-radius: 10px;
    padding: 2vh;
    padding-left: 10vh;
    padding-right: 10vh;
  }
  
  .errormsg{
    margin-top: 2vh;
  }