/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   html, body {
    max-width: 100%;
    overflow-x: hidden;
}
   .bg-platine {
    background: linear-gradient(to left,#DEE7E7, #D9D9D9);
   }
   .bg-platine-rev {
    background: linear-gradient(to bottom left,#DEE7E7, #FFFFFF);
   }
   .bg-glauque {
    background-color: #5F89C7;
   }
   .bg-green {
    background-color: #71DF6E;
   }
   .bg-gray {
    background-color: #A8ACB1;
   }
   .colorplatine {
    color:#DEE7E7;
   }
   .colorglauque {
    color: #5F89C7;
   }
   .colorgreen {
    color: #71DF6E;
   }
   a {
    color: inherit;
    text-decoration: none;
  }
  .header-logo {
    /* position: absolute; */
    height: 18vh;
    margin-top: 1.5vh;
  } 
  .header-logo-res {
    display: none;
  }
  .logo2 {
    height: 32vh;
    width: 17vw;
    margin-left: 3vw;
  }
  .navbar {
    height: 12vh;
  }
   .nobullet {
    list-style-type: none;
   }

   .white-bar {
    background-color: #fff;
    height: 95%;
    width: 0.2vw;
    margin-left: 1vw;
    margin-right: 1vw;
   }
   .footer-card {
    height: 40vh;
    width: 100vw;
   }
   .footer-block {
    width: 10%;
    text-align: start;
    height: 80%;
    margin: auto;
   }
   .footer-logo {
    text-align: center;
    margin-right: 1vw;
    width: 20%;
   }
   .footer-icone {
    height: 7vh;
    margin-top: 0.5vh;
   }
   .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #111;
  }
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  
.sec1{
  display: flex;
}

.bloc1{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20%;
}

.img1{
  height: 80%;
  width: auto;
}

.right{
  margin-top: 3vh;
}

.firsttxt{
  margin: auto;
  margin-top: 9vh;
}

.firsth{
  font-size: 24px;
  justify-content: left;
}

.secondh{
  font-size: 16px;
  margin-top: 5vh;
  justify-content: left;
}

.button{
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  margin-right: 7 vh;
  width: 70%;
}

.button1{
  padding: 15px;
  border-radius: 40px;
}

.sec2{
  display: flex;
  width: 80%;
  margin: auto;
  padding-top:10vh ;
}

.bloc2{
  display: flex;
}

.left2{
  text-align: end;
}

.firsth2{
  font-size: 32px;
}

.secondh2{
  font-size: 24px;
  margin-top: 10vh;
}

.thirdh2{
  font-size: 16px;
  margin-top: 5vh;
}

.img2{
  height: 80%;
  width: auto;
  margin-left: 10vw;
}

.sec3{
  display: flex;
}

.bloc3{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.img1{
  height: 80%;
  width: auto;
}

.img3{
  height: 80%;
  width: auto;
}

.left{
  margin-right: 20%;
}

.right{
  margin-top: 3vh;
}

.firsttxt2{
  background-color: #DEE7E7;
  padding: 3vw;
  margin: auto;
  margin-top: 4vh;
}

.firsth3{
  font-size: 24px;
  justify-content: left;
}

.secondh3{
  font-size: 16px;
  margin-top: 5vh;
  justify-content: left;
}

.button{
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  margin-right: 7 vh;
  width: 70%;
}

.button1{
  padding: 15px;
  border-radius: 10px;
}

.bgcolor{
  background: rgb(95,137,199);
background: linear-gradient(37deg, rgba(95,137,199,1) 0%, rgba(113,223,110,1) 100%);
}

.d-block {
  margin: auto;
}

.carousel-control-next{
  margin-right: 32vw;
}

.carousel-control-prev{
  margin-left: 32vw;
}

.carousel-inner{
  width: 50%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.partenaire{
  margin-top: 5vh;
  text-align: center;
}

@media screen and (max-width:991px) {

  .header-logo-res {
    display: block;
    height: 12vh;
    margin-top: -2.2vh;
  }
  .footer-card {
    height: 30vh;
    width: 100vw;
   }
  .footer-block {
    width: 15%;
    text-align: start;
    height: 80%;
    margin: auto;
    font-size: x-small;
   }
   .footer-logo {
    text-align: center;
    margin-right: 1vw;
    width: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 7vh;
   }
   .logo2 {
    height: 15vh;
    width: 100%;
    margin-left: 1vw;
  }
  .footer-icone {
    height: 4vh;
    margin-top: 0.5vh;
   }
   h6 {
    font-size: x-small;
    text-decoration: double;
   }

  .bloc1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
  }

  .firsttxt{
    margin: auto;
    text-align: center;
  }

  .firsttxt2{
    margin: auto;
    text-align: center;
  }

  .firsth2{
    margin-top: 8vh;
  }

  .secondh2{
    margin-top: 7vh;
  }

  .thirdh2{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .firsth3{
    margin-top: 10vh;
  }

  .img1{
    width: 100%;
    height: auto;
  }

  .img2{
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .img3{
    width: 100%;
    height: auto;
  }

  .bloc2{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .bloc3{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20%;
  }

  .button{
    margin-bottom: 7vh;
  }

  .left{
    margin: auto;
    width: 80%;
  }

  .right2{
    margin: auto;
    width: 80%;
  }

  .sec2{
    width: 100%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

